@keyframes fadeAnimation {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/*NAVBAR ICON COLOR*/

body {
  background-color: #14213d;
}

.nav-brand {
  color: #fca311;
  transition: color 200ms;
}

.nav-brand:hover {
  color: white;
}

.nav-main {
  padding: 20px 40px;
}

.nav-container {
  border-top: 1.5px solid #fca311;
  border-bottom: 1.5px solid #fca311;
  padding: 10px;
}

.custom-toggler{
    padding: 10px 20px;
    border: none;
}

.fa-bars{
    color: #fca311;
}

.nav-link-items {
  color: #fca311;
  transition: color 200ms, font-weight 200ms;
}

.nav-link-items:hover {
  color: white;
  font-weight: bold;
}

.section-container {
  margin-top: 10px;
  padding: 20px 50px;
  border: 2px solid #fca311;
  transition: box-shadow 200ms;
  color: #fca311;
  box-shadow: 7px 7px 1px #fca311;
}


.btn-resume {
  padding: 10px 20px;
  background-color: transparent;
  font-weight: bold;
  border: 2px solid #fca311;
  transition: background-color 200ms, color 200ms;
  color: #fca311;
}

.btn-resume:hover {
  background-color: #e57c04;
  color: black;
}

.img-avatar {
  animation: fadeAnimation 1s;
}

.custom-card{
    background-color: transparent;
    border: 3px solid #fca311;
}

.img-about{
  width: 30%;
  margin: 20px 0;
}

.bold-text{
  font-weight: bold;
}